body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

span {
  margin: auto;
}
.guessContainer {
  justify-content: space-around;
}
ul {
  list-style-type: none;
  justify-content: space-around;
}
li {
  display: inline;
  margin: 20px;
}

.input {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(226, 183, 43);
  border-radius: 5px;
  margin: 10px;
  height: 50px;
  width: 300px;
}
.input::placeholder {
  text-align: center;
}

img {
  width: 20px;
  height: 35px;
}
.liBackground {
  background-image: url(../images/ropeIcon.png);
  background-repeat: no-repeat;
  background-size: contain;

  margin: 10px;
  padding: 20px;
  /* padding-left: 14px;
  padding-bottom: 28px; */
  border-style: none;
  font-size: 40px;
}
li {
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  width: 50px;
}
